
@{
    ViewBag.Title = "AppDev";
    Layout = "~/Views/Services/_ServicesLayout.cshtml";
}
<div class="project AppDev">
    <h2>Application Development and Systems Integration</h2>

    <div class="ServiceBox">
        <img class="ServiceImg" src="~/Images/settings-gears.png" />
        <p>
            Do you need specialized processes that don't fit the mold?
            Here's how we'll get you going with pre-built or custom components that meet <em>your</em> needs using these simple steps:
            <ul>
                <li>
                    <img class="AppDevImage" src="~/Images/006-idea.png" /> 
                    We talk about your ideas and the problems you need to solve.
                </li>
                <li>
                    <img class="AppDevImage" src="~/Images/004-two-businessmen-holding-a-flag.png" />
                     We agree on the details of the delivery including cost and timespan.
                </li>
                <li>
                    <img class="AppDevImage" src="~/Images/002-network.png" />
                    We periodically monitor the product to ensure correctness.
                </li>
                <li>
                    <img class="AppDevImage" src="~/Images/003-good-worker.png" />
                    We agree that the completed product meets the requested scope.
                </li>
                <li>
                    <img class="AppDevImage" src="~/Images/001-wedding.png" />
                    You reap the benefits of your idea successfully implemented!
                </li>
            </ul>
        </p>
    </div>
</div>