@{
    ViewBag.Title = "Consulting";
    Layout = "~/Views/Services/_ServicesLayout.cshtml";

}
<div class="project">
    <h2>Consulting and Freelancing</h2>
    <div class="ServiceBox">
        <div class="row">
            <img class="ServiceImg" src="~/Images/003-arrows.png" />
            <p>If you are looking for a contractor, please find my profiles below or contact me</p>
        </div>
    </div>
    <p><a href="https://www.linkedin.com/in/darrylchallenger/" target="_blank">LinkedIn Profile/Resume</a></p>
    <p><a href="https://www.upwork.com/o/profiles/users/_~01ab413f62da6c0497/" target="_blank">UpWork Page</a></p>
</div>