@{
    ViewBag.Title = "Consulting";
    Layout = "~/Views/Services/_ServicesLayout.cshtml";

}
<div class="project Consulting">
    <h2>Consulting and Freelancing</h2>
    <div class="ServiceBox">
        <div class="row">
            <img class="ServiceImg" src="~/Images/003-arrows.png" />
            <p>
                If you are looking for a contractor, please find my profiles below or contact me. In addition my extensive background on the Microsoft stack,
                I am proficient developing in node.js and AWS as well. I am currently engaged with a few Ethereum/Blockchain groups, and am working on a few ideas of my own. 
                Check the <span>@Html.ActionLink("Gallery","Index","Home", protocol: null, hostName: null, fragment: "Gallery", routeValues: null, htmlAttributes: new { @class= "projectlink" })</span> to see of technologies I can assist you with. I pick up technology quickly, so let me know what you need!
            </p>
        </div>
    </div>
    <p><a href="https://www.linkedin.com/in/darrylchallenger/" target="_blank">LinkedIn Profile/Resume</a></p>
    <p><a href="https://www.upwork.com/o/profiles/users/_~01ab413f62da6c0497/" target="_blank">UpWork Page</a></p>
</div>