@{
    ViewBag.Title = "Kinect";
    Layout = "~/Views/Services/_ServicesLayout.cshtml";

}

<div class="project">
    <h2>Kinect</h2>
    <div class="ServiceBox">
        <img class="ServiceImg" src="~/Images/Kinect.png" />
        <p>
            Interactive systems will be the wave of the future.
            Give your presentations a boost and a <em>wow factor</em> today!
        </p>
    </div>
</div>

