
@{
    ViewBag.Title = "Chess Across Borderes - Web Site";
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";
}
<div class="project">
    <h2>Chess Across Borders</h2>
    <div class="ProjectBox">
        <p>
            The founder of Chess Across Borders approached me to produce a platform
            to promote his life's mission: enriching the life experience of New York school children with chess. The program
            teaches the children there is a connection between mind, body, and spirit, and uses the age old
            game to enforce the message.
        </p>
        <br />
        <div class="CABLogoContainer"><img class="CABLogo" src="~/Images/CAB_Logo100W.png" alt="" title="" width="50" height="50" /></div>
        <br /><br />
        <p>
            This type of opportunity is both important and enjoyable as its success will directly
            improve the critical thinking skills and education of a population that is too often neglected.
        </p>
    </div>
            <div class="CABBox">
            <img class="CABImage img-responsive" src="~/Images/CAB_V500.png"
                 title="Chess Across Borders - a chess education and instruction program"
                 alt="Chess Across Borders - a chess education and instruction program" />
            <span class="CABAlign">
                <span class="CABHeightBox"></span>
                <span>Visit the </span>
                <span class="projectlink"><a href="//www.chessacrossborders.com" target="_blank">Chess Across Borders</a></span>
                <span> web site</span>
            </span>
        </div>
        <br />

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <a class="rightArrow" href="@Url.Action("Equity", "Gallery")" title="Equity Project For All">EQUITY >>></a>
        </div>
    </div>
</div>
@*
@section SEOMeta {
    <meta name="keywords" content="Darryl Challenger, Challenger Technology Solutions, Chess Across Borders Website, Wordpress" />
    <meta name="description" content="Challenger Technology Solutions Gallery for Chess Across Borders. Website, site design, Social Media, Requirements, Project Management" />
}
*@