@model DCTechnologySolutions.Models.StripeModel

@{
    ViewBag.Title = "DisplayStripeResults";
}

<div class="Stripe">
    <h2>Stripe Pay Now Results</h2>
    @Html.Partial("_DisplayTxData")

    @Html.ActionLink("Return to Samples", "StripeSamples")

</div>