
@{
    ViewBag.Title = "Fitbit Integration Sample";
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";

}

<div class="Fitbit">
    <h2>Fitbit Integration Samples</h2>
    <div class="ProjectBox">
        @using (Html.BeginForm("FitbitActivity", "Gallery", FormMethod.Post, new { id = "FitbitActivityBtn" }))
        {
        <h3>Get Fitbit Activity</h3>
        <p>
            This sample demonstrates accessing your Fitbit data. It demonstates Oauth and data security.
            It first uses Oauth to connect to Fitbit requesting access to <strong>Activity data only</strong>.
            It then requests two data points:
        </p>
        <ol>
            <li>Lifetime Activity, and</li>
            <li>Devices</li>
        </ol>
        <p>The activity call succeeds, but the device calls fails as access is properly denied.</p>
        <button type="submit">Lifetime Activity</button>
        }
    </div> <!-- Lifetime Activity-->
    
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <a class="leftArrow" href="@Url.Action("ArcGISSamples", "Gallery")" title="ArcGIS Integration Samples"><<< ArcGIS Integration Samples</a>
        </div>
    </div>

</div>
