
@{
    ViewBag.Title = "OJewelry - Jewelry Manufacturing Operations";
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";
}

<div class="project">
    <h2>OJewelry</h2>
    <div class="ProjectBox">
        <p>
            This client works with jewelers to manage their operations, including inventory and pricing.  
            She used many manual and paper-based processes and found that it became too cumbersome to maintain in a timely manner.
        </p>
        <p>
            The OJewelry application brought the operational systems online and helped to solve scaling issues. 
            The application supports bulk loading of inventory and cost criteria.  
            The processes within the application allow for tracking of inventory movement and breaking down costs to allow for efficient pricing of the product.  
            Reports and worksheets are available online and can be exported to Excel.
        </p>
        <div class="LogoContainer"><img class="OJLogo" src="~/Images/OJLogo.png" alt="" title="" /></div>
        <p>
            Vendor and User Management is supported with built-in administrative functions - different users are authorized to see only their specific data.
            With the Azure hosted-OJewelry application my client now has the abilty to take on more jewelers who can manage thier businesses using less paper and time.
        </p>
        <br /><br />

    </div>
    @*
        <div class="CABBox">
            <img class="CABImage img-responsive" src="~/Images/CAB_V500.png"
                 title="Chess Across Borders - a chess education and instruction program"
                 alt="Chess Across Borders - a chess education and instruction program" />
            <span class="CABAlign">
                <span class="CABHeightBox"></span>
                <span>Visit the </span>
                <span class="projectlink"><a href="//www.chessacrossborders.com" target="_blank">Chess Across Borders</a></span>
                <span> web site</span>
            </span>
        </div>
    *@
    <br />


    <div class="row">
        <div class="col-xs-6 col-sm-6"></div>
        <div class="col-xs-6 col-sm-6">
            <a class="rightArrow" href="@Url.Action("CAB", "Gallery")" title="Chess Across Borders Web Site">Chess Across Borders >>></a>
        </div>
    </div>
</div>
@*
                @section SEOMeta {
                    <meta name="keywords" content="Darryl Challenger, Challenger Technology Solutions, Chess Across Borders Website, Wordpress" />
                    <meta name="description" content="Challenger Technology Solutions Gallery for Chess Across Borders. Website, site design, Social Media, Requirements, Project Management" />
                }
    *@
