
@{
    ViewBag.Title = "PayPalCreatePaymentReturn";
}

<div class="PayPal">
    <h2>Successful Payment Page</h2>
    <p>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com to view details of this transaction.</p>
    <div class="PayPalBox">
        <p>@ViewBag.intent</p>
        <p>Payment ID:@ViewBag.paymentID</p>
        <p>PayerID:@ViewBag.payerID</p>
        <p>OrderID:@ViewBag.orderId</p>
    </div>
    @Html.ActionLink("Return to Samples", "PayPalSamples")
</div>

