
@{
    ViewBag.Title = "PayPalCreatePaymentReturn";
}

<div class="PayPal">
    <h2>The payment was completed successfully</h2>
    <div class="PayPalBox">
        <p>@ViewBag.intent</p>
        <p>Payment ID:@ViewBag.paymentID</p>
        <p>PayerID:@ViewBag.payerID</p>
        <p>OrderID:@ViewBag.orderId</p>
        <p>BillingID:@ViewBag.billingId</p>
        <p>returnURL:@ViewBag.returnUrl</p>
    </div>
    @Html.ActionLink("Return to Samples", "PayPalSamples")
</div>

