
@{
    ViewBag.Title = "ProcessCheckoutBtn";
}

<div class="Stripe">
    <h2>Stripe Card Payment Results</h2>

    @Html.Partial("_DisplayTxData")

    @Html.ActionLink("Return to Samples", "StripeSamples")

</div>
