@model DCTechnologySolutions.Models.StripeModel

@{
    ViewBag.Title = "ProcessCCBtn";
}


<div class="Stripe">
    <h2>Process Card Element</h2>

    @Html.Partial("_DisplayTxData")

    @Html.ActionLink("Return to Samples", "StripeSamples")

</div>