
@{

    ViewBag.Title = "Google Map Samples";
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";

}

<div class="TalkingBaseball project">
    <h2>Talking Baseball for <span>Alexa</span></h2>
    <div class="ProjectBox">
    </div>
    </div>


