
@{
    ViewBag.Title = "AppDev";
}

<h2>AppDev</h2>

<span class="ServiceDesc">
    Do you require specialized processes that don't fit the mold? 
    Here's how we'll get you going with pre-built or custom components that meet <em>your</em> needs using these 4 steps:
    (person w.problem)  1. We talk about the problems you need technology to solve
    (shaking hands)     2. We agree on the details of the delivery including cost and timespan
    (looking over)      3. We periodically monitor the product to ensure correctness
    (champagne glass)    4. We agree on that the completed product meets the requested scope
</span>
