
@{
    ViewBag.Title = "Chess Across Borderes - Web Site";
}

<h2>Chess Across Borders</h2>
<sub>add logo</sub>
<p>I was approached by Jerald Times, the founder of Chess Across Borders to produce a platform for 
    the cause: to enrich the life experience of New York school children with chess. The program 
    teaches the children there is a connection between mind, body, and spirit, and uses the age old 
    game to enforce the messgae. I really enjoy this kind of opportunity as its success will directly 
    improve the critical thinking skills and education of a population that is sometimes neglected.</p>

<sub>Add link</sub>
