
@{
    ViewBag.Title = "Chess Across Borderes - Web Site";
}

<h2>Chess Across Borders</h2>

<p>I was approached by Jerald Times, the founder of Chess Across Borders to produce a platform 
    to promote his cause: enriching the life experience of New York school children with chess. The program 
    teaches the children there is a connection between mind, body, and spirit, and uses the age old 
    game to enforce the messgae. I really enjoy this kind of opportunity as its success will directly 
    improve the critical thinking skills and education of a population that is too often neglected.</p>
<div class="CABBox">
    <img class="CABImage img-responsive" src="~/Images/CAB_V500.png" 
         title="Chess Across Borders - a chess education and instruction program"
         alt="Chess Across Borders - a chess education and instruction program" />
    <span class="CABHeightBox"></span>
    <span class="CABAlign">Visit the <a href="//www.chessacrossborders.com" target="_blank">Chess Across Borders</a> web site</span>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <a class="rightArrow" href="@Url.Action("Equity", "Home")" title="Equity Project For All">>>></a>
    </div>
</div>
