@{
    ViewBag.Title = "Contact Challenger Technology Solutions";
}

<h3>Contact us for a consultation on your project. We'll be glad to work with you to meet your customers' needs.</h3>

<h4 style="color:darkred;">Hi friends - thanks for visiting. Please send a critique by using this <a href="mailto:contact@dctechnologysolutions.com">support</a> link so I can have some ideas about how to improve the site. 
    No comment is unwanted so please tell me what you love and what you hate!
    <br /><br /></h4><h4>Thanks,<br />Darryl</h4>
<!--
<form class="contactForm">  method="post" action="ThankYou">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="exampleInputEmail1" id="exampleInputEmail1" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" name="exampleInputName" id="exampleInputName" placeholder="Your name">
    </div>
    <!--
    <div class="form-group">
        <label>RG1</label>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
            </label>
        </div>
        <div class="radio disabled">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Option three is disabled
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>RG2</label>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios2" id="optionsRadios4" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios2" id="optionsRadios5" value="option2">
                Option two can be something else and selecting it will deselect option one
            </label>
        </div>
        <div class="radio disabled">
            <label>
                <input type="radio" name="optionsRadio2s" id="optionsRadios6" value="option3" disabled>
                Option three is disabled
            </label>
        </div>
    </div>

    <div class="form-group">
        <!-- <label for="exampleInputtext1">What can we do for you?</label>
        <textarea class="form-control" rows="7" id="exampleInputtext1" name="exampleInputtext1"></textarea>
    </div>

    <button type="submit" class="btn btn-default btnSubmit">Submit</button>
</form>
-->
<hr/>
<address>
    <strong>Support: </strong><a href="mailto:contact@dctechnologysolutions.com">contact@dctechnologysolutions.com</a><br />
</address>