@{
    ViewBag.Title = "Contact Challenger Technology Solutions";
}

<h3>Contact us for a consultation on your project. We'll be glad to work with you to meet your customers' needs.</h3>

<h4 style="color:red;">Hi friends - thanks for visiting. Please send a critique by using the support link so I can have some ideas about how to improve the site. 
    No feedback is unwanted so please tell me what you love and what you really don't!<br />Thanks,<br />Darryl</h4>

<address>
    @*<strong>Support:</strong>   <a href="mailto:support@dctechnologysolutions.com">support@dctechnologysolutions.com</a><br />*@
    <strong>Support:</strong>   <a href="mailto:Darryl.Challenger@Outlook.com">Darryl.Challenger@Outlook.com</a><br />
</address>