@{
    ViewBag.Title = "Contact Challenger Technology Solutions";
}
<div class="project">
    <div class="ContactPage">
        <div class="ProjectBox">
            <p>Contact us for a consultation on your project. We'll be glad to work with you to meet your needs.</p>
            <a class="ContactBtn2" href="mailto:contact@dctechnologysolutions.com">Contact Us</a>
        </div>
    </div>
</div>
@section SEOMeta {
    <meta name="keywords" content="Darryl Challenger, Challenger Technology Solutions, contact dctechnologysolutions" />
    <meta name="description" content="Challenger Technology Solutions - Contact us at Contact@dctechsolutions.com" />
}