
@{
    ViewBag.Title = "DevResources";
}

<h1>Developer Resources</h1>

<p>Screen Size:<span id="WWW"></span><span id="HHH"></span></p>

<h2>Tech</h2>
<p><a href="https://coolors.co/" target="_blank"><strong>Pallette Generator</strong></a></p>
<p><a href="http://www.bestcssbuttongenerator.com/" target="_blank"> <strong>Button Generator</strong></a></p>
<p><a href="http://www.lipsum.com/" target="_blank"><strong>Greeking</strong></a> - Lorem Ipsum...It's not Greek, it's Latin!</p>
<p><a href="https://validator.w3.org/" target="_blank"><strong>HTML Validator</strong></a></p>
<p><a href="http://www.wordle.net/" target="_blank"><strong>Wordle</strong></a></p>
<p><a href="http://www.hemingwayapp.com/" target="_blank"><strong>Hemmingway</strong></a></p>
<p><a href="https://www.sejda.com/pdf-editor" target="_blank"><strong>PDF Editor</strong></a></p>
<p><a href="https://css-tricks.com/snippets/css/media-queries-for-standard-devices/" target="_blank"><strong>Media Queries</strong></a> (Device sizes, not perfectly accurate)</p>
<p><a href="https://www.youtube.com/watch?v=Gi3INcPOvo8" target="_blank"><strong>min- and max-width</strong></a> explained really well!</p>
<p><a href="http://www.Browserstack.com" target="_blank"><strong>Browserstack.com</strong></a></p>

<h2>Personal</h2>
<p><a href="http://www.consumerreports.org/digital-cameras-photography/how-to-shoot-great-sports-video-of-your-kids/"><strong>An ESPN Producer Explains How to Shoot Great Sports Video of Your Kids</strong></a></p>

<h2>My Sites</h2>
<p><a href="" target="_blank"><strong>EQUITY FB</strong></a></p>
<p><a href="" target="_blank"><strong>EQUITY Site</strong></a></p>
<p><a href="http://www.chessacrossborders.com" target="_blank"><strong>Chess Across Borders</strong></a></p>
@*<p><a href="" target="_blank"></a></p>*@

<h2>Development Sites</h2>
<p><a href="https://developers.facebook.com/" target="_blank"><strong>Facebook</strong></a></p>
<p><strong>LinkedIn</strong></p>
<p><strong>YouTube</strong></p>
<p><strong>Twitter</strong></p>
<p><strong>Instagram</strong></p>
<p><strong>PayPal</strong></p>
<p><strong>WordPress</strong></p>
<p><strong>Google+</strong></p>

<h2>HTML References</h2>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><strong>JavaScript Reference</strong></a></p>
<p><a href="http://w3Schools.com" target="_blank"><strong>w3schools</strong></a></p>
<p><strong>Bootstrap</strong></p>
<p><strong>JQuery</strong></p>
<p><strong>Angular</strong></p>
<p><strong>Google SEO</strong></p>

<h2>Microsoft</h2>
<p><strong>Azure Portal</strong></p>
<p><strong>Azure Refernce</strong></p>
<p><strong>.Net Reference</strong></p>
<p><strong>Channel 9</strong></p>

    @*
        <p><a href="" target="_blank">Text</a></p>
    *@
