
@{
    ViewBag.Title = "DevResources";
}

<h1>Developer Resources</h1>

<div class="resources">
    <p>Screen Size:<span id="WWW"></span><span id="HHH"></span></p>

    <h2>Tech</h2>
    <p><a href="https://coolors.co/" target="_blank"><strong></strong>Pallette Generator</a></p>
    <p><a href="http://www.bestcssbuttongenerator.com/" target="_blank"> Button Generator</a></p>
    <p><a href="http://www.lipsum.com/" target="_blank">Greeking</a> - Lorem Ipsum... It's not Greek, it's Latin!</p>
    <p><a href="https://validator.w3.org/" target="_blank">HTML Validator</a></p>
    <p><a href="http://www.wordle.net/" target="_blank">Wordle</a></p>
    <p><a href="http://www.hemingwayapp.com/" target="_blank">Hemmingway</a></p>
    <!--<p><a href="https://css-tricks.com/snippets/css/media-queries-for-standard-devices/" target="_blank">Media Queries</a> (Device sizes, not perfectly accurate)</p>-->
    <p><a href="https://www.youtube.com/watch?v=Gi3INcPOvo8" target="_blank">min and max width</a> explained really well!</p>
    @*<p><a href="http://www.Browserstack.com" target="_blank">Browserstack.com</a></p>*@
    <p><a href="https://www.w3schools.com/colors/colors_names.asp" target="_blank">Standard Colors</a></p>

    <h2>Personal</h2>
    <p><a href="http://www.consumerreports.org/digital-cameras-photography/how-to-shoot-great-sports-video-of-your-kids/">An ESPN Producer Explains How to Shoot Great Sports Video of Your Kids </a></p>
    <p><a href="https://www.sejda.com/pdf-editor" target="_blank">PDF Editor</a></p>

    <h2>My Sites</h2>
    <p><a href="https://www.facebook.com/EquityProjectForAll/" target="_blank">EQUITY FB</a></p>
    <p><a href="http://equity120170411071210.azurewebsites.net/" target="_blank">EQUITY Site <sub>Under construction</sub></a></p>
    <p><a href="http://www.chessacrossborders.com" target="_blank">Chess Across Borders</a></p>
    @*<p><a href="" target="_blank"></a></p>*@

    <h2>Development Sites</h2>
    <p><a href="https://developers.facebook.com/" target="_blank">Facebook</a></p>
    <p>LinkedIn</p>
    <p>YouTube</p>
    <p>Twitter</p>
    <p>Instagram</p>
    <p>PayPal</p>
    <p>WordPress</p>
    <p>Google+</p>

    <h2>HTML References</h2>
    <p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript Reference</a></p>
    <p><a href="http://w3Schools.com" target="_blank">w3schools</a></p>
    <p><a href="https://getbootstrap.com/docs/3.3/" target="_blank">Bootstrap 3.3</a></p>
    <p>JQuery</p>
    <p>Angular</p>
    <p>Google SEO</p>

    <h2>Microsoft</h2>
    <p><a href="https://portal.azure.com" target="_blank">Azure Portal</a></p>
    <p>Azure Refernce</p>
    <p>.Net Reference</p>
    <p>Channel 9</p>

    @*
        <p><a href="" target="_blank">Text</a></p>
    *@
</div>