
@{
    ViewBag.Title = "Equity Project for All - Facebook and Web Site";
}

<div class="project">
    <div id="EquitySite" class="EquitySite">
        <h3>Equity Web Site</h3>
        <p>
            The web site for EQUITY is currently under development. It will complement the Facebook platform and provide a portal to the Mosaic,
            the centerpiece of EQUITY. <a class="projectlink" href="http://equity120170411071210.azurewebsites.net/" target="_blank">Preview here</a>
        </p>
    </div>
    <div id="EquityFB" class="EquityFB">
        <h3>Equity Facebook Page</h3>
        <br />
        <p>
            The EQUITY Organizing Committee chose Facebook as the platform to debut the the EQUITY Project. I built the page to
            share information about the project and to test the concept of EQUITY with friends and family. I added many video
            interviews from the January 2017 Women's March in Washington, DC. Moving forward, it will be one of the primary
            advertising channels. Posts will be updated regularly, and EQUITY's events will be also posted here.
        </p>
        <p>
            <span class="projectlink">
                Visit <a href="https://www.facebook.com/EquityProjectForAll/" target="_blank">
                    <img class="EquityQFB" src="~/Images/EquityQ300_170.png"
                         alt="Equity Project For All - promoting gender, racial, and religous equity"
                         title="Equity Project For All - promoting gender, racial, and religous equity" /><img class="EquityFBFB" src="~/Images/FB-f-Logo__blue_29.png" alt="Equity on Facebook" title="Equity on Facebook"
                                                                                                               style="padding-right:1em;" /><span>Equity&nbsp;on&nbsp;Facebook</span>
                </a>
            </span>
        </p>
    </div>
    <h2 class="project">Equity Project for All</h2>
    <br />
    <p>
        EQUITY is a disruptive platform created to promote gender, racial, and religous equity.
        EQUITY is currently partnered with the <a href="http://www.un.org" target="_blank">UN</a>
        and <a href="https://www.globalcitizen.org" target="_blank">Global Citizen</a>.
        EQUITY sponsored events will use an emotive storyline across VR, AR, visual arts, poetry, music, comedy, and dance.<br />
        The initial focus will be Gender Equity in line with the
        <a href="http://www.globalgoals.org/global-goals/gender-equality/" target="_blank">UN Gloabal Goal #5</a>.
        The centerpiece will be the <b>D</b>igital <b>A</b>ccountability <b>M</b>osaic <b>N</b>etwork, known as <strong>DAMN</strong>, aka the Mosaic.
        <strong>DAMN</strong> will be an interactive world map that visually tracks activitites related to the EQUITY mission.
    </p>
    <br />
    <p>
        I joined the EQUITY Organizing Committee as Project Manager, coordinating meetings and activities.
        I worked on the Facebook page and am collecting requirements for the web site and <strong>DAMN</strong>.
        I am also building the web site and expanding the social media footprint.
    </p>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <a class="leftArrow" href="@Url.Action("CAB", "Home")" title="Chess Across Borders Web Site"><<<</a>
        </div>
        @*
            <div class="col-xs-6 col-sm-6">
                <a class="rightArrow" href="@Url.Action("Next", "Home")">>>></a>
            </div>
        *@
    </div>
</div>

@section SEOMeta {
    <meta name="keywords" content="Darryl Challenger, Challenger Technology Solutions, Equity website, Equity Facebook, Equity social media, Equity Project Management" />
    <meta name="description" content="Challenger Technology Solutions Gallery for Equity Project for All. Website, Social Media, Requirements, Project Management" />
}