
@{
    ViewBag.Title = "Equity Project for All - Facebook and Web Site";
}

<h2>Equity Project for All</h2>
<div id="EquityFB" class="EquityFB">
    <h3>Facebook</h3>
    <p>The EQUITY Organizing Committee chose Facebook as the platform to debut the the Equity Project. I built the page to 
        share information about the project and to test the concept of Equity with friends and family. I added many video 
        interviews from the January 2017 Women's March in Washington, DC. Moving forward, it will be one of the primary 
        advertising channels. Posts will be updated regularly, and Equity's events will be also posted here.</p>
    <sub>Add link</sub>
</div>
<div id="EquitySite" class="EquitySite">
    <h3>Equity Web Site</h3>
    <p>The web site for EQUITY is currently under development. It will enhance the Facebook platform and provide a portal to the Mosaic, 
    the centerpiece of Equity</p><sub>Add what I did.</sub>
    <sub>Add link</sub>
</div>
