@{
    ViewBag.Title = "Home Page";
}

<div class="centeredMainTitleTop">
    <h1 class="appTitle">
        Challenger Technology
    </h1>
    <hr class="titlebr"/>
        <!--
            <svg viewBox="0,0, 500, 10">
            <line x1="5" y1="5" x2="95" y2="5" style="stroke:rgb(0,0,200);stroke-width:2"></line>
            </svg>
        -->
    <h1 class="centeredMainTitleBot">
        Solutions
    </h1>
</div>
<div class="whoAmI"></div>
<div class="services"></div>
<div class="howIwork"></div>
<div class="gallery"></div>
<div class="Testimonials"></div>

