@{
    ViewBag.Title = "Kinect";
}

<h2>Kinect</h2>
<span class="ServiceDesc">
    - Interactive systems will be the wave of the future.
    Give your presentations a boost and a <em>wow factor</em> today!
    (conference room)
</span>

