
@{
    ViewBag.Title = "Leadership";
}

<h2>Leadership</h2>

<span class="ServiceDesc">
    - Do you need an experienced leader to help or get your development team on track?
    You can leverage my over 15 years of corporate experience to advise you or lead your team to meet goals
    within time, scope, and cost.
</span>
