<appSettings>
  <add key="st-publicKey" value="pk_test_9VBmb0MLFOio86PO162GMNFp"/>
  <add key="st-secretKey" value="sk_test_LRlhXB1wikIe5Se6tuSXCjD4"/>
  <add key="st-clientId" value="ca_Bil3yXbf2LC3dxUr0RnuQoytgoq5X16j"/>
  <add key="pp-ClientId" value="AeXZWqBXt7O1yxFuharPp_NgVbiGWUd2BQgqMiFghdYFGmn_0CZKurlj8_YRFKG-wKwZcNZh0Ah0ZE6s"/>
  <add key="pp-SecretKey" value="EM4cl7rIhiiA3LOSPWkqPcAmnf6ZeUyPcAUFEMC7z8V8HxArBZzgtW_3uGcFqqS23Iz4m9VY5f9c9S4I"/>
</appSettings>
