<appSettings>
  <add key="st-publicKey" value="pk_test_MBNnNr4L0QiOmmQHIV0QpW4j"/>
  <add key="st-secretKey" value="sk_test_HtUydDU48QTml1I2FGLGPJsT"/>
  <add key="st-clientId" value="ca_Bil3yXbf2LC3dxUr0RnuQoytgoq5X16j"/>
  <add key="pp-ClientId" value="AeXZWqBXt7O1yxFuharPp_NgVbiGWUd2BQgqMiFghdYFGmn_0CZKurlj8_YRFKG-wKwZcNZh0Ah0ZE6s"/>
  <add key="pp-SecretKey" value="EM4cl7rIhiiA3LOSPWkqPcAmnf6ZeUyPcAUFEMC7z8V8HxArBZzgtW_3uGcFqqS23Iz4m9VY5f9c9S4I"/>
  <add key="pp-AddToCart" value="YDWRAQS8JKD9C"/>
  <add key="fitbit-clientId" value="22D39B"/>
  <add key="fitbit-Secret" value="6541fef39d7adc2b2518962663d1c1b2"/>
</appSettings>
