
.PayPal {
    max-width: 75%;
    margin: auto;
    color: black;
}

.PayPal h2 {
    color:black;
}

.PayPal small {
    color:black;
}
.PayPal h2, .PayPal h4, .PayPal .h2 {
    margin-bottom:10px;
}

    .PayPal h3, .PayPal h4, .PayPal .h3, .PayPal .h4 {
        color: black;
        line-height: 110%;
        letter-spacing: 1.3px;
    }

.PayPal a {
    color: black;
    text-decoration: underline;
}

.PayPalBox a {
    color: black;
    margin-bottom:1em;
}

.PayPal p {
    font-size: 1.25em;
    letter-spacing: 1px;
    line-height: 150%;
    color: black;
    padding-bottom: 1em;
    /* width: 90%; */
    text-align: left;
    margin: auto;
}

.PayPal .ContactBtn:hover, 
.PayPal .ContactBtn:focus, 
.PayPal .ContactBtn2:hover, 
.PayPal .ContactBtn2:focus {
    color: black;
    background-color: gold;
    opacity: .6;
}

.PayPallink {
    font-family: 'Russo One', sans-serif;
}

@media only screen and (min-width:768px) {
    .PayPallink {
        font-size: 18px;
    }

    .PayPallink a {
        font-size: 24px;
    }
}

.PayPalBox {
    background-color: gold;
    opacity: .8;
    margin-bottom: 2em;
    padding: 1.5em 1.5em 0 1.5em;
    border-color: black;
    border-style: solid;
}

.PayPalBox a:focus, .PayPalBox a:hover {
    color: darkred;
}

.PayPalForm{
    padding:1em;
}

.PayPalBtn {
    padding: 1em;
}

@media only screen and (min-width:768px) {
    .PayPal h3 {
        font-size: 30px;
    }

    .PayPal p {
        font-size: 1.6em;
        letter-spacing: 1px;
    }

    .PayPal a {
        font-size: 24px;
    }
}

@media only screen and (min-width:768px) {
    .PayPal-xs-break {
        display:none;
    }
}

.PayPal-xs-break {
    border-top: black;
    border-top-width: 2px;
    border-top-style: solid;
    width: 90%;
}

.paymentinfo li
{
    font-size:1.5em;
}

.PayPalReturnTxList
{
    padding-left:2em;
}

.shopcart {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 5em;
    width: 5em;
}
