.boxed {
    border-style:solid;
    border-color:blue;
}

@font-face {
	font-family: 'Sans-Copperplate Gothic';
	src: url('../fonts/sans-copperplategothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
    	font-family: 'Sans-Copperplate Gothic', sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
a:hover, a:focus {
    color:darkred;
}
h2 {
    color:darkblue;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:78px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.DCTechBrand {
    background-image:url('../Images/DC LOGO B&Wtx.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip:border-box;
    background-color:lightblue;
    margin:auto;
    height:227px;    
    width:300px;
    float:none;
    /*;
    border-style:solid;
    border-color:orange;
    */
}

.inherhitWidth {
    width:inherit;
}
.DCTechBrand:hover, .DCTechBrand:focus {
    background-color:lightcoral;
}

.noOutline {
    outline:none;
}

/* min width of 570, title gets normal (small below) */
.titleContainer {
    width:65%;
    min-width:240px;
    margin:auto;
}

.mainTitleTop {
    width:100%;
    margin:auto;
}
.mainTitleBot,
.appTitle {
    margin:auto;
    font-variant:small-caps;
    color:darkblue;
    text-align:center;
}

.titlebr { /* Not used */
    border-style:solid;
    border-color:black;
    margin-top:0;
    margin-bottom:0;

}

@media only screen and (min-width:320) {
    .mainTitleBot,
    .appTitle {
    }
}

@media only screen and (min-width:570) {
    .mainTitleBot,
    .appTitle {
    }
}

@media only screen and (min-width:768) {
     .mainTitleBot,
    .appTitle {
         width:100%;
    }
}

.subTitle {
    padding-bottom:3em;   
    font-variant:small-caps;
}

.Services li {
    font-size:16px;
}

.Services ul {
    list-style-type: circle;
}

/* Below min witdh of 768, Gallery boxes should be stacked. Above, they should be columns*/
.GalleryBox {
    max-width:75%;
    margin:auto;
    padding-top:.5em;
    padding-bottom:.5em;
}

.GalleryBox:hover {
    opacity:.4;
}

.GalleryImage {
    width:100%;
    vertical-align:middle;
    border-style:solid;
    border-color:black;
    border-width:2px;
}

.GalleryImage:hover {
    border-color:darkred;
    border-width:2px;
}

@media only screen and (min-width:768) {

    .GalleryBox {
        height:320px;
        white-space:nowrap;
        padding-top:initial;
    }
    .GalleryHeightBox {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .GalleryImage {
        width: 100%;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        vertical-align: middle;
    }
}

.ContactDCTech {
    padding-top:2em;
    padding-bottom:4em;
}

.ContactBtn {
    border-style:solid;
    border-color:darkblue;
    color:darkblue;
    background-color:lightblue;
    padding: 0.2em 1em;
    font-size:2em;
    border-radius:1em;
    margin-left:auto;
    margin-right:auto;
    width:250px;
    display:block;
}

.ContactBtn:hover, .ContactBtn:focus{
    text-decoration:none;
    color:darkred;
    border-color:darkred;
    background-color:lightcoral;
}


.leftArrow {
    float:left;
}

.rightArrow {
    float:right;
}
.copy { /* Copyright in footer */
    font-family:sans-serif;
}

/* min width of x, footer should be one line. Below, two lines and both left justified */
.rightFoot {
    float:left;
}
.leftFoot{
    font-size:100%;
}

@media only screen and (min-width:768) {
    .rightFoot {
        float: right;
    }
    .leftFoot {
     font-size:85%;
    }
    
}

@media only screen and (min-width:992) {
    .leftFoot {
    font-size:100%;
    }
}

/* CAB Page*/
.CABBox {
    height:320px;
    white-space:nowrap;
    padding-top:initial;
}

.CABImage {
    height:90%;
}


@media only screen and (min-width:768) {

    .CABHeightBox {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .CABAlign {
        vertical-align: middle;
    }
    .CABImage {
    float:left;
}

}

/* Contact page */

.form-control:focus {
    border-color: darkred;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 0, 0, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 0, 0, 0.6);
}


.btnSubmit {
    color:darkblue;
    background-color:lightblue;
    border-color:darkblue;
    max-width:75%;
}

.btnSubmit:hover, .btnSubmit:focus {
    color:darkred;
    background-color:lightcoral;
    border-color:darkred;
}