.boxed {
    border-style:solid;
    border-color:black;
}

@font-face {
	font-family: 'Sans-Copperplate Gothic';
	src: url('../fonts/sans-copperplategothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
    	font-family: 'Sans-Copperplate Gothic', sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a:hover, a:focus {
        color:darkred;
}
h2 {
    color:darkblue;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:78px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.DCTechBrand {
    background-image:url('../Images/DC LOGO B&Wtx.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip:border-box;
    background-color:lightblue;
    margin:auto;
    height:227px;    
    width:300px;
    float:none;
    /*;
    border-style:solid;
    border-color:orange;
    */
}

.DCTechBrand:hover, .DCTechBrand:focus {
    background-color:lightcoral;
}

.noOutline {
        outline:none;
}

/* min width of 570, title gets normal (small below) */
.mainTitleTop {
    width:75%;
    margin:auto;
}
.mainTitleBot,
.appTitle {
    text-justify:distribute-all-lines;
    text-align:justify;
    width:90%;
    margin:auto;
    font-size:150%;
    font-variant:small-caps;
    color:darkblue;
}

.titlebr { /* Not used */
    border-style:solid;
    border-color:black;
    margin-top:0;
    margin-bottom:0;

}

@media only screen and (min-width:320) {
    .mainTitleBot,
    .appTitle {
        font-size: 150%;
        width:85%;
    }
}

@media only screen and (min-width:570) {
    .mainTitleBot,
    .appTitle {
        font-size: 175%;
        width:80%;
    }
}

@media only screen and (min-width:768) {
     .mainTitleBot,
    .appTitle {
         font-size:200%;
         width:75%;
    }
}

.subTitle {
    padding-bottom:3em;   
    font-variant:small-caps;
}

.Services li {
    font-size:16px;
}

/* Below min witdh of 768, Gallery boxes should be stacked. Above, they should be columns*/
.GalleryBox {
    /*border-style:solid;
    border-color:red;*/
    height:320px;
    white-space: nowrap;

}

.GalleryBox:hover {
    opacity:.4;
}

.GalleryImage {
    width:100%;
    border-style:solid;
    border-color:black;
    border-width:2px;
    vertical-align:middle;
}

.GalleryImage:hover  {
    border-color:darkred;
}

.GalleryHieghtBox {
    height:90%;
    display:inline-block;
    vertical-align:middle;
    /*
    border-style:solid;
    border-color:green;
    */

}

.GalleryText {
    display:none;
}

.ContactDCTech {
    padding-top:2em;
    padding-bottom:4em;
}

.ContactBtn {
    border-style:solid;
    border-color:darkblue;
    color:darkblue;
    background-color:lightblue;
    padding: 0.2em 1em;
    font-size:2em;
    border-radius:1em;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:250px;
    display:block;
}

.ContactBtn:hover, .ContactBtn:focus{
    text-decoration:none;
    color:darkred;
    border-color:darkred;
    background-color:lightcoral;
}

.copy { /* Copyright in footer */
    font-family:sans-serif;
}

/* min width of x, footer should be one line. Below, two lines and both left justified */
.rightFoot {
    float:left;
}
.leftFoot{
    font-size:100%;
}

@media only screen and (min-width:768) {
    .rightFoot {
        float: right;
    }
    .leftFoot {
     font-size:85%;
    }
    
}

@media only screen and (min-width:992) {
    .leftFoot {
    font-size:100%;
    }
}

