
.Stripe {
    max-width: 75%;
    margin: auto;
    color: midnightblue;
}

.Stripe h2, .Stripe h3 {
    color: midnightblue;
}

.Stripe small {
    color: midnightblue;
}

.Stripe h2, .Stripe h4, .Stripe .h2 {
    margin-bottom: 10px;
}

.Stripe h3, .Stripe .h3 {
    color: midnightblue;
    line-height: 110%;
    letter-spacing: 1.3px;
}

.Stripe h4, .Stripe .h4 {
    letter-spacing:normal;
}        

.Stripe a {
    color: black;
    text-decoration: underline;
}

.StripeBox a {
    color: midnightblue;
}

.Stripe p {
    font-size: 1.25em;
    letter-spacing: 1px;
    line-height: 150%;
    color: midnightblue;
    padding-bottom: 1em;
    /* width: 90%; */
    text-align: left;
    margin: auto;
}

.Stripe .ContactBtn:hover,
.Stripe .ContactBtn:focus,
.Stripe .ContactBtn2:hover,
.Stripe .ContactBtn2:focus {
    color: black;
    background-color: blue;
    opacity: .6;
}

.Stripelink {
    font-family: 'Russo One', sans-serif;
}

@media only screen and (min-width:768px) {
    .Stripelink {
        font-size: 18px;
    }

        .Stripelink a {
            font-size: 24px;
        }
}


.StripeBox {
    /*
    /background-color: blanchedalmond;
    /background-color: lightcyan;
    /background-color: lightskyblue;
    /background-color: lightsteelblue;
    /background-color: papayawhip;
    /background-color: powderblue;
    /background-color: lightskyblue;
    */
    background-color: skyblue;
    opacity: .8;
    margin-bottom: 2em;
    padding: 1.5em 1.5em 1.5em 1.5em;
    border-color: midnightblue;
    border-style: solid;
}

    .StripeBox a:focus, .StripeBox a:hover {
        color: darkblue;
    }

.StripeForm {
    padding: 1em;
}

.StripeBtn {
    padding: 1em;
}

@media only screen and (min-width:768px) {
    .Stripe h3 {
        font-size: 30px;
    }
    
    .Stripe p {
        font-size: 1.6em;
        letter-spacing: 1px;
    }

    .Stripe a {
        font-size: 24px;
    }

    .Stripe-xs-break {
        display: none;
    }
}

.Stripe-xs-break {
    border-top: midnightblue;
    border-top-width: 2px;
    border-top-style: solid;
    width: 90%;
}

.shopcart {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 5em;
    width: 5em;
}

#StripePaymentRequestButton {
    max-width:33%;
}

#StripeCCElement {
    background-color: white;
    border-style: inset;
    border-width: 2px;
    padding: 1px 0;
    font-size: 14px;
    color: midnightblue;
    border-top-color: lightsteelblue;
    border-left-color: lightsteelblue;
    border-bottom-color: white;
    border-right-color: white;
    border-color:lightsteelblue;
}

.StripeBox button
{
    color:white;
    border-color:lightsteelblue;
    background-color:midnightblue;
}

.StripeBox input {
    color: midnightblue;
    width: 100%;
    max-width: unset;
    font-family: 'Russo One', sans-serif;
    border-width: 2px;
    border-top-color: lightsteelblue;
    border-left-color: lightsteelblue;
    border-bottom-color: white;
    border-right-color: white;
    border-color:lightsteelblue;
}

.Stripe #publicKey
{
    overflow-wrap:normal;
    word-wrap:break-word;
}

.StripeBox input[disabled] {
    background-color:lightgrey;
}

 .Stripe ::-ms-input-placeholder {
    color:lightsteelblue;
}

.Stripe ::placeholder {
    color: lightsteelblue;
}

    .padright1em {
    padding-right: 1em;
}